<?xml version="1.0"?>
<model>
  <name>LeArm</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Sanket Sharma</name>
  </author>

  <maintainer email="">Sanket Sharma</maintainer>

  <description>
    HiWonder LeArm robotic arm
  </description>

  <url type="repository">https://github.com/andrewda/learm_ros2 </url>
  
</model>
