<?xml version="1.0"?>

<model>
  <name>Lidar</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Gilbert Tanner</name>
    <email>gilberttanner.contact@gmail.com</email>
  </author>

  <maintainer email="gilberttanner.contact@gmail.com">Gilbert Tanner</maintainer>

  <description>
    3D LiDaR sensor generated through xacro macro
  </description>
</model>
