<?xml version="1.0"?>

<model>
  <name>Iris with RGBD</name>
  <version>2.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Sanket Sharma</name>
    <email>sharma.sanket272@gmail.com</email>
  </author>

  <maintainer email="sharma.sanket272@gmail.com">Sanket Sharma</maintainer>

  <description>
    Starting with iris_with_standoffs
    Add RGBD camera plugin, link and joint
  </description>
  <depend>
    <model>
      <uri>model://iris_with_ardupilot</uri>
      <version>1.0</version>
    </model>
  </depend>
</model>
