<?xml version="1.0"?>
<model>
  <name>Iris with Arm</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Sanket Sharma</name>
  </author>

  <maintainer email="">Sanket Sharma</maintainer>

  <description>
    Iris quadcopter with LeArm robotic arm attached at bottom
  </description>

  <depend>
    <model>
      <uri>model://iris_with_standoffs</uri>
      <version>2.0</version>
    </model>
  </depend>
</model>
