<?xml version="1.0"?>

<model>
  <name>Iris with sensors</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <description>
    Iris quadcopter (from `iris_with_standoffs`) combined with xacro-generated
    lidar, camera, depth_camera, and rgbd_camera sensor models.
  </description>
  <depend>
    <model>
      <uri>model://iris_with_standoffs</uri>
      <version>1.0</version>
    </model>
    <model>
      <uri>model://lidar</uri>
      <version>1.0</version>
    </model>
    <model>
      <uri>model://camera</uri>
      <version>1.0</version>
    </model>
    <model>
      <uri>model://depth_camera</uri>
      <version>1.0</version>
    </model>
    <model>
      <uri>model://rgbd_camera</uri>
      <version>1.0</version>
    </model>
  </depend>
</model>
