<?xml version="1.0"?>

<model>
  <name>RGBD Camera</name>
  <version>2.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Sanket Sharma</name>
    <email>sharma.sanket272@gmail.com</email>
  </author>

  <maintainer email="sharma.sanket272@gmail.com">Sanket Sharma</maintainer>

  <description>
    RGBD camera plugin and link on drone
  </description>
</model>
