<?xml version="1.0"?>

<model>
  <name>Iris SITL Viewer</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Ryan Friedman</name>
    <email>ryanfriedman5410+github@gmail.com</email>
  </author>

  <maintainer email="ryanfriedman5410+github@gmail.com">Ryan Friedman</maintainer>

  <description>
    View-only Iris copter for showing ArduPilot SITL FDM state in Gazebo.
  </description>
  <depend>
    <model>
      <uri>model://iris_sitl_viewer</uri>
      <version>1.0</version>
    </model>
  </depend>
</model>