<?xml version="1.0"?>

<model>
  <name>Lidar 3D</name>
  <version>2.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Tejal Barnwal</name>
    <email>tejalbarnwal@gmail.com</email>
  </author>

  <maintainer email="tejalbarnwal@gmail.com">Tejal Barnwal</maintainer>

  <description>
    3D lidar plugin and link on drone
  </description>
</model>
